<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>メモ帳アプリ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<form th:action="@{/confirm-category-detail}" method="POST" th:object="${categoryDetailForm}">
	<th:block th:if="*{modeFlg == 'read'}"><h2 class="text-center m-4">カテゴリー詳細</h2></th:block>
	<th:block th:if="*{modeFlg == 'regist'}"><h2 class="text-center m-4">カテゴリー登録</h2></th:block>
	<th:block th:if="*{modeFlg == 'update'}"><h2 class="text-center m-4">カテゴリー更新</h2></th:block>
	<th:block th:if="*{modeFlg == 'delete'}"><h2 class="text-center m-4">カテゴリー削除</h2></th:block>
	<div class="container-fluid">
		<table class="table">
			<tr>
				<th>【カテゴリーID】</th>
				<td th:text="*{categoryId}"></td>
			</tr>
			<tr>
				<th>【カテゴリー名】</th>
				<th:block th:if="*{modeFlg == 'read' || modeFlg == 'delete'}">
					<td th:text="*{categoryName}"></td>
				</th:block>
				<th:block th:if="*{modeFlg == 'regist' || modeFlg == 'update'}">
					<td>
						<input type="text" th:field="*{categoryName}"/>
						<div th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="text-danger"></div>
					</td>
				</th:block>
			</tr>
			<tr>
				<th>【ステータス】</th>
				<th:block th:if="*{modeFlg == 'read' || modeFlg == 'delete'}">
					<td th:text="*{statusId + '：' + statusName}"></td>
				</th:block>
				<th:block th:if="*{modeFlg == 'regist' || modeFlg == 'update'}">
					<td>
						<select th:field="*{statusId}">
							<option th:each="status: ${statusList}"
									th:value="${status.statusId}"
									th:text="${status.statusId + '：' + status.statusName}"
									th:selected="${status.statusId == statusId}">
							</option>
						</select>
					</td>
				</th:block>
			</tr>
			<tr>
				<th>【備考】</th>
				<th:block th:if="*{modeFlg == 'read' || modeFlg == 'delete'}">
					<td th:text="*{remarks}"></td>
				</th:block>
				<th:block th:if="*{modeFlg == 'regist' || modeFlg == 'update'}">
					<td>
						<input type="text" th:field="*{remarks}"/>
						<div th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}" class="text-danger"></div>
					</td>
				</th:block>
			</tr>
			<tr>
				<th>【作成日】</th>
				<td th:text="*{createdAt}"></td>
			</tr>
			<tr>
				<th>【更新日】</th>
				<td th:text="*{updatedAt}"></td>
			</tr>
		</table>
		<th:block th:if="*{modeFlg == 'regist'}">
			<input type="submit" name="regist" value="登録確認" class="btn btn-primary mt-2"/>
		</th:block>
		<th:block th:if="*{modeFlg == 'update'}">
			<input type="submit" name="update" value="更新確認" class="btn btn-primary mt-2"/>
		</th:block>
		<th:block th:if="*{modeFlg == 'delete'}">
			<input type="submit" name="delete" value="削除確認" class="btn btn-primary mt-2"/>
		</th:block>
		<a href="/top" class="btn btn-outline-secondary mt-2">戻る</a>
	</div>
	<input type="hidden" th:field="*{categoryId}"/>
	<input type="hidden" th:field="*{modeFlg}"/>
	<input type="hidden" th:field="*{initFlg}"/>
</form>
<th:block th:if="${memoList != null}">
	<div class="container-fluid mt-4">
		<div>メモ一覧</div>
		<table class="table table-hover">
			<tr class="table-primary">
				<th>詳細</th>
				<th>メモID</th>
				<th>メモタイトル</th>
				<th>ステータス</th>
				<th>作成日</th>
				<th>更新日</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			<tr th:each="memo: ${memoList}">
				<td>
					詳細
	<!--						<form th:action="@{/show-category-detail}" method="POST">-->
	<!--							<input type="hidden" name="categoryId" th:value="${category.categoryId}"/>-->
	<!--							<input type="submit" name="read" value="詳細" class="btn btn-primary"/>-->
	<!--						</form>-->
				</td>
				<td th:text="${memo.memoId}"></td>
				<td th:text="${memo.memoTitle}"></td>
				<td th:text="${memo.status.statusId + '：' + memo.status.statusName}"></td>
				<td th:text="${memo.createdAt}"></td>
				<td th:text="${memo.updatedAt}"></td>
				<td>
					更新
	<!--						<form th:action="@{/show-category-detail}" method="POST">-->
	<!--							<input type="hidden" name="categoryId" th:value="${category.categoryId}"/>-->
	<!--							<input type="submit" name="update" value="更新" class="btn btn-primary"/>-->
	<!--						</form>-->
				</td>
				<td>
					削除
	<!--						<form th:action="@{/show-category-detail}" method="POST">-->
	<!--							<input type="hidden" name="categoryId" th:value="${category.categoryId}"/>-->
	<!--							<input type="submit" name="delete" value="削除" class="btn btn-primary"/>-->
	<!--						</form>-->
				</td>
			</tr>
		</table>
	</div>
</th:block>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>