<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>メモ帳アプリ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<h2 class="text-center m-4 border-bottom p-4">完了</h2>
<div class="container-fluid">
	<div class="text-center" th:text="${msg}"></div>
	<div class="text-center">
		<form th:action="@{/show-category-detail}" method="POST">
			<input type="hidden" name="categoryId" th:value="${categoryId}"/>
			<input type="submit" name="read" value="カテゴリー詳細に戻る" class="btn btn-primary mt-4"/>
		</form>
		<a class="btn btn-outline-secondary mt-4" th:href="@{/top}">トップページに戻る</a>
	</div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>