<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>メモ帳アプリ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<form th:action="@{/confirm-memo-detail}" method="POST" th:object="${memoDetailForm}">
	<th:block th:if="*{modeFlg == 'read'}"><h2 class="text-center m-4">メモ詳細</h2></th:block>
	<th:block th:if="*{modeFlg == 'regist'}"><h2 class="text-center m-4">メモ登録</h2></th:block>
	<th:block th:if="*{modeFlg == 'update'}"><h2 class="text-center m-4">メモ更新</h2></th:block>
	<th:block th:if="*{modeFlg == 'delete'}"><h2 class="text-center m-4">メモ削除</h2></th:block>
	<div class="container-fluid">
		<table class="table">
			<tr>
				<th>【メモID】</th>
				<td th:text="*{memoId}"></td>
			</tr>
			<tr>
				<th>【メモタイトル】</th>
				<th:block th:if="*{modeFlg == 'read' || modeFlg == 'delete'}">
					<td th:text="*{memoTitle}"></td>
				</th:block>
				<th:block th:if="*{modeFlg == 'regist' || modeFlg == 'update'}">
					<td>
						<input type="text" th:field="*{memoTitle}"/>
						<div th:if="${#fields.hasErrors('memoTitle')}" th:errors="*{memoTitle}" class="text-danger"></div>
					</td>
				</th:block>
			</tr>
			<tr>
				<th>【メモ内容】</th>
				<th:block th:if="*{modeFlg == 'read' || modeFlg == 'delete'}">
					<td th:text="*{memoContent}"></td>
				</th:block>
				<th:block th:if="*{modeFlg == 'regist' || modeFlg == 'update'}">
					<td>
						<input type="text" th:field="*{memoContent}"/>
						<div th:if="${#fields.hasErrors('memoContent')}" th:errors="*{memoContent}" class="text-danger"></div>
					</td>
				</th:block>
			</tr>
			<tr>
				<th>【ステータス】</th>
				<th:block th:if="*{modeFlg == 'read' || modeFlg == 'delete'}">
					<td th:text="*{statusId + '：' + statusName}"></td>
				</th:block>
				<th:block th:if="*{modeFlg == 'regist' || modeFlg == 'update'}">
					<td>
						<select th:field="*{statusId}">
							<option th:each="status: ${statusList}"
									th:value="${status.statusId}"
									th:text="${status.statusId + '：' + status.statusName}"
									th:selected="${status.statusId == statusId}">
							</option>
						</select>
					</td>
				</th:block>
			</tr>
			<tr>
				<th>【作成日】</th>
				<td th:text="*{createdAt}"></td>
			</tr>
			<tr>
				<th>【更新日】</th>
				<td th:text="*{updatedAt}"></td>
			</tr>
		</table>
		<th:block th:if="*{modeFlg == 'regist'}">
			<input type="submit" name="regist" value="登録確認" class="btn btn-primary mt-2"/>
		</th:block>
		<th:block th:if="*{modeFlg == 'update'}">
			<input type="submit" name="update" value="更新確認" class="btn btn-primary mt-2"/>
		</th:block>
		<th:block th:if="*{modeFlg == 'delete'}">
			<input type="submit" name="delete" value="削除確認" class="btn btn-primary mt-2"/>
		</th:block>
	</div>
	<input type="hidden" th:field="*{memoId}"/>
	<input type="hidden" th:field="*{categoryId}"/>
	<input type="hidden" th:field="*{modeFlg}"/>
	<input type="hidden" th:field="*{initFlg}"/>
</form>
<div class="container-fluid">
	<form th:action="@{/show-category-detail}" method="POST" th:object="${memoDetailForm}">
		<input type="hidden" name="categoryId" th:value="*{categoryId}"/>
		<input type="submit" name="read" value="戻る" class="btn btn-outline-secondary mt-2"/>
	</form>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>