<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>メモ帳アプリ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<h2 class="text-center m-4">カテゴリー登録</h2>
<div class="container-fluid">
	<form th:action="@{/confirm-category-regist}" method="POST" th:object="${categoryRegistForm}">
		<table class="table">
			<tr>
				<th>【カテゴリー名】</th>
				<td>
					<input type="text" th:field="*{categoryName}">
					<div th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="text-danger"></div>
				</td>
			</tr>
			<tr>
				<th>【ステータス】</th>
				<td>
					<select th:field="*{statusId}">
						<option th:each="status: ${statusList}"
								th:value="${status.statusId}"
								th:text="${status.statusId + '：' + status.statusName}"
								th:selected="${status.statusId == statusId}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>【備考】</th>
				<td>
					<input type="text" th:field="*{remarks}">
					<div th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}" class="text-danger"></div>
				</td>
			</tr>
		</table>
		<input type="submit" value="登録確認" class="btn btn-primary mt-2"/>
	</form>
	<form th:action="@{/top}" method="GET">
		<input type="submit" value="戻る" class="btn btn-outline-secondary mt-2"/>
	</form>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>