<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>テキストエディタ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
</head>
<body>
	<div class="container">
		<h2>テキストエディタ</h2>

		<!-- ファイル操作 -->
		<div class="mt-4 mb-4">
			<div class="d-flex justify-content-between">
				<select id="fileList" class="form-control col-9"></select>
				<button id="loadFileButton" class="btn btn-info col-2">読み込む</button>
			</div>
			<div class="d-flex justify-content-between mt-4">
				<button id="saveAsButton" class="btn btn-outline-primary col-2">名前を付けて保存</button>
				<button id="saveButton" class="btn btn-outline-primary col-2" disabled>保存</button>
				<button id="createNewButton" class="btn btn-outline-primary col-2">新規作成</button>
				<button id="closeButton" class="btn btn-outline-secondary col-2" disabled>閉じる</button>
				<button id="deleteButton" class="btn btn-outline-danger col-2" disabled>削除</button>
			</div>
		</div>
		
		<!-- エディタ -->
		<div id="editorContainer"></div>

		<!-- メッセージ表示 -->
		<div id="message" class="mt-4 mb-4"></div>
	</div>
	
	<!-- モーダル画面 -->
	<div class="modal fade" id="saveFileNameModal" tabindex="-1" role="dialog" aria-labelledby="saveFileNameModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="saveFileNameModalLabel">ファイル名を指定してください</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" id="newFileNameInput" placeholder="ファイル名 (例: mydocument.html)">
					<small class="form-text text-muted">拡張子 (.html または .txt) を含めてください。含めない場合、.htmlが自動で付与されます。</small>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
					<button type="button" class="btn btn-primary" id="confirmSaveFileNameButton">保存</button>
				</div>
			</div>
		</div>
	</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>